@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

/*
    Home
*/

html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

h1, h6, p {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 40px);
    min-height: 96%;
    margin: 20px;
}

#MainImage {
    background-image: url(./images/slider1.jpg);
    background-size: cover;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 160px);
    padding: 15px 10px 10px 150px;
}

.NavBarLogo {
    width: 60px;
    height: 60px;
    padding-right: 75px;
}

.Menu > a {
    font-size: 13px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding-bottom:20px;
    margin: 40px;
}

.Menu >a:hover {
    color: grey;
}

button {
    padding: 1em;
}

.TextOverlay1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.LeftArrow {
    padding-left: 10px;
}

.LeftButton {
    background-color: transparent;
    border: none;  
}

.RightButton {
    background-color: transparent;
    border: none;
}

.TextOverlay2 {
    position: absolute;
    top: 30%;
    right: 11%;
}

.TextOverlay2 h1 {
    text-align: right;
    color: white;
    font-size: 54px;
}

.TextOverlay2 h6 {
    text-align: right;
    color: white;
    font-family: 'Vollkorn', serif;
    font-style: italic ;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

/*
    About Section
*/

#About {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content:space-evenly;
    padding-right: 20px;
}

.AboutCard {
    display: flex;
    flex: 1;
    flex-basis: 901.5px;
    height: 600px;
    padding: 0px 0px 20px 20px;
    justify-content: space-between;
}

#Desk1 {
    flex: 1;
}

.AboutCardText {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 150px 100px 0px 100px;
    text-align: center;
    background-color: whitesmoke;
    background-size: cover;
}

.AboutCardText h2 {
    font-size: 46px;
    margin: 5px;
}

.AboutCardText h6 {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Vollkorn', serif;
    font-style: italic ;
    margin: 5px 0px 30px;
}

.AboutCardText p {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #5c5c5c;
}

.AboutCardText button {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    width: 170px;
    align-self: center;
    margin: 50px;
}

.AboutCardText button:hover {
    border: none;
    background-color: #5c5c5c;
    color: white;
}

.AboutFooter {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.AboutFooter h2 {
    font-size: 38px;
    padding: 0;
    margin: 0;
}

.AboutFooter h6 {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Vollkorn', serif;
    font-style: italic ;
    margin: 5px 0px 30px;
}

#Services {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
}

.Service-container {
    display: flex;
    padding: 0;
}

.ServiceCard-container {
    display: flex;
    flex: 1;
    flex-basis: 901.5px;
    height: 600px;
    padding: 0px 20px 20px 20px;
    justify-content: space-between;
}

.ServiceCards {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;    
}

.ServiceCard {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: 400px;
    padding: 0px 20px 20px 20px;  
}

.ServiceCardText {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-color: whitesmoke;
    background-size: cover;
}

.ServiceCardText h2 {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 0;
}

.ServiceCardText p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-top: 0;
}

.AboutCards {
    display: flex;
}

.ServiceCardText img {
    width: 125px;
    align-self: center;
}

.one:hover {
    background-color: rgba(104, 64, 24, 0.15);
}

.two:hover {
    background-color: rgba(185, 58, 35, 0.15);
}

.three:hover {
    background-color: rgba(54, 53, 51, 0.15);
}

.ServiceFooter {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    padding: 80px 20px 80px 20px;
}

.ServiceFooterCard h2 {
    font-size: 46px;
    padding: 0px 0px 5px 0px;
    margin: 0;
}

.ServiceFooterCard h6 {
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0px 0px 10px 0px;
}

.AnimatedQuote {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
}

.AnimatedName {
    font-weight: 600;
}

.AnimatedQuote::before {
    content: "'I don't like people, but I make an exception for ABC Agency. They're pretty damn cool.'";
    animation: animate infinite 16s, fadeIn infinite 16s;
    animation-timing-function: ease;
}

.AnimatedName::before {
    content: "Brian Jones, America Big Corporation";
    animation: fadeIn infinite 16s, animateName infinite 16s;
    animation-timing-function: ease;
}

@keyframes animate {
    0% {
        content: "'I don't like people, but I make an exception for ABC Agency. They're pretty damn cool.'";
    }
    33.3% {
        content: "'I don't like people, but I make an exception for ABC Agency. They're pretty damn cool.'";
    }
    66.6% {
        content: "'ABC Agency are the best. Not only did they deliver my work on time, they even walked my dog when I was out of town'";
    }
    100% {
        content: "'ABC Agency are the best. Not only did they deliver my work on time, they even walked my dog when I was out of town'";
    }
}

@keyframes animateName {
    0% {
        content: "Brian Jones, America Big Corporation";
    }
    33.3% {
        content: "Brian Jones, America Big Corporation";
    }
    66.6% {
        content: "A Smith - Neighbour";
    }
    100% {
        content: "A Smith - Neighbour";
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    10% {opacity: 1;}
    49% {opacity: 0;}
    74% {opacity: 1;}
    100% {opacity:0;}
}
  
.PortfolioContainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.PortfolioCard {
    display: flex;
    flex-direction: column;
    width: 450.75px;
    padding-bottom: 20px;
}

.PortfolioCard h2 {
    font-size: 42px;
    margin: 0px 5px;
}

.PortfolioCard h6 {
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 20px;
}

.PortfolioCard p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

#Contact {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    
}

.ContactHeader {
    display: flex;
    flex: 1;
    flex-flow: column;
    text-align: center;
}

.ContactHeader h2 {
    font-size: 42px;
    margin-bottom: 5px;
}

.ContactHeader h6 {
    padding-bottom: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 300;
    font-size: 17px;
    font-style: italic;
}

input[type=text] {
    width: 50%;
}

#Label {
    font-weight: 600;
}

textarea {
    width: 50%;
    height: 10%;
    resize: vertical;
}

.ContactForm button {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    width: 170px;
    align-self: center;
    margin: 50px;
}

.ContactForm button:hover {
    border: none;
    background-color: #5c5c5c;
    color: white;
}

footer {
    display: flex;
    padding: 20px;
}

.FooterRow {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #333333;
    padding: 80px;
}

.FooterColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}

#FooterLogo {
    width: 80px;
}

#footer-home {
    color: #5c5c5c;
    margin-bottom: 20px;
}

.FooterColumn > a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: whitesmoke;

}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #5c5c5c;
    margin: 0px 0px 30px;
    
}

.footer-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
}
