@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital@1&display=swap');

html, body {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

h1, h6, p {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
}

#MainImage {
    background-image: url(./images/slider1.jpg);
    background-size: cover;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 160px);
    padding: 15px 10px 10px 150px;
}

.NavBarLogo {
    width: 60px;
    height: 60px;
    padding-right: 75px;
}

.Menu > a {
    font-size: 13px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding-bottom:20px;
    margin: 40px;
}

.Menu >a:hover {
    color: grey;
}

button {
    padding: 1em;
}

.TextOverlay1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.LeftArrow {
    padding-left: 10px;
}

.LeftButton {
    background-color: transparent;
    border: none;  
}

.RightButton {
    background-color: transparent;
    border: none;
}

.TextOverlay2 {
    position: absolute;
    top: 30%;
    right: 11%;
}

.TextOverlay2 h1 {
    text-align: right;
    color: white;
    font-size: 54px;
}

.TextOverlay2 h6 {
    text-align: right;
    color: white;
    font-family: 'Vollkorn', serif;
    font-style: italic ;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}
