@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

/*
    Home
*/

html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

h1, h6, p {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 40px);
    min-height: 96%;
    margin: 20px;
}

#mainimage {
    background-image: url(./images/slider1.jpg);
    background-size: cover;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 160px);
    padding: 15px 10px 10px 150px;
}

.navbarlogo {
    width: 60px;
    height: 60px;
    padding-right: 75px;
}

.menu > a {
    font-size: 13px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding-bottom:20px;
    margin: 40px;
}

.menu >a:hover {
    color: grey;
}

button {
    padding: 1em;
}

.textoverlay1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftarrow {
    padding-left: 10px;
}

.leftbutton {
    background-color: transparent;
    border: none;  
}

.rightbutton {
    background-color: transparent;
    border: none;
}

.textoverlay2 {
    position: absolute;
    top: 30%;
    right: 11%;
}

.textoverlay2 h1 {
    text-align: right;
    color: white;
    font-size: 54px;
}

.textoverlay2 h6 {
    text-align: right;
    color: white;
    font-family: 'Vollkorn', serif;
    font-style: italic ;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

/*
    About Section
*/

#about {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content:space-evenly;
    padding-right: 20px;
}

.card {
    display: flex;
    flex: 1;
    flex-basis: 901.5px;
    height: 600px;
    padding: 0px 0px 20px 20px;
    justify-content: space-between;
}

#desk1 {
    flex: 1;
}

.card__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 150px 100px 0px 100px;
    text-align: center;
    background-color: whitesmoke;
    background-size: cover;
}

.card__content h2 {
    font-size: 46px;
    margin: 5px;
}

.card__content h6 {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Vollkorn', serif;
    font-style: italic ;
    margin: 5px 0px 30px;
}

.card__content p {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #5c5c5c;
}

.card__content button, .contactform button {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    width: 170px;
    align-self: center;
    margin: 50px;
}

.card__content button:hover, .contactform button:hover {
    border-color: transparent;
    background-color: #5c5c5c;
    color: white;
}

.card__content button:hover, .contactform button:focus {
    outline: 0;
}

    .aboutend {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    text-align: center;
    padding: 40px 0px 40px 0px;
}

.aboutend h2 {
    font-size: 38px;
    padding: 0;
    margin: 0;
}

.aboutend h6 {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Vollkorn', serif;
    font-style: italic ;
    margin: 5px 0px 30px;
}

#services {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
}

.servicecard__container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-right: 20px;
}

.servicecard__subcontainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0px 10px 0px 0px;    
}

.service__card {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: 400px;
    padding: 0px 0px 0px 20px;  
}

.service__card .card__content {
    padding-top: 50px;
    padding-bottom: 75px;
}

.cardcontent--servicetext {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 50px 100px 0px 100px;
    text-align: center;
    background-color: whitesmoke;
    background-size: cover;
}

.service__card h2 {
    font-weight: 700;
    font-size: 42px;
    margin-top: 18px;
    margin-bottom: 0;
}

.service__card p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-top: 10px;
}

.service__card img {
    width: 125px;
    align-self: center;
}

.card--one:hover:hover {
    background-color: rgba(104, 64, 24, 0.15);
}

.card--two:hover {
    background-color: rgba(185, 58, 35, 0.15);
}

.card--three:hover {
    background-color: rgba(54, 53, 51, 0.15);
}

.service__end {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    padding: 80px 20px 80px 20px;
}

.service__end h2 {
    font-size: 46px;
    padding: 0px 0px 5px 0px;
    margin: 0;
}

.service__end h6 {
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0px 0px 10px 0px;
}

.animatedquote {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
}

.animatedname {
    font-weight: 600;
}

.animatedquote::before {
    content: "'I don't like people, but I make an exception for ABC Agency. They're pretty damn cool.'";
    animation: animate infinite 16s, fadeIn infinite 16s;
    animation-timing-function: ease;
}

.animatedname::before {
    content: "Brian Jones, America Big Corporation";
    animation: fadeIn infinite 16s, animateName infinite 16s;
    animation-timing-function: ease;
}


.portfolio__container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio__card {
    display: flex;
    flex-direction: column;
    width: 450.75px;
    padding-bottom: 20px;
}

.portfolio__card h2 {
    font-size: 42px;
    margin: 0px 5px;
}

.portfolio__card h6 {
    font-family: 'Vollkorn', serif;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 20px;
}

.portfolio__card p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

#contact {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    
}

.contact__text {
    display: flex;
    flex: 1;
    flex-flow: column;
    text-align: center;
}

.contact__text h2 {
    font-size: 42px;
    margin-bottom: 5px;
}

.contact__text h6 {
    padding-bottom: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 300;
    font-size: 17px;
    font-style: italic;
}

input[type=text] {
    width: 50%;
}

#label {
    font-weight: 600;
}

textarea {
    width: 50%;
    height: 10%;
    resize: vertical;
}

.contactform button {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    width: 170px;
    align-self: center;
    margin: 50px;
}

footer {
    display: flex;
    padding: 20px;
}

.footer__row {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #333333;
    padding: 80px;
}

.footer__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}

#footerlogo {
    width: 80px;
}

#footerhome {
    color: #5c5c5c;
    margin-bottom: 20px;
    text-decoration: none;
}

.footer__column > a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: whitesmoke;
    
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #5c5c5c;
    margin: 0px 0px 30px; 
}

.footer--text {
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
}

@keyframes animate {
    0% {
        content: "'I don't like people, but I make an exception for ABC Agency. They're pretty damn cool.'";
    }
    33.3% {
        content: "'I don't like people, but I make an exception for ABC Agency. They're pretty damn cool.'";
    }
    66.6% {
        content: "'ABC Agency are the best. Not only did they deliver my work on time, they even walked my dog when I was out of town'";
    }
    100% {
        content: "'ABC Agency are the best. Not only did they deliver my work on time, they even walked my dog when I was out of town'";
    }
}

@keyframes animateName {
    0% {
        content: "Brian Jones, America Big Corporation";
    }
    33.3% {
        content: "Brian Jones, America Big Corporation";
    }
    66.6% {
        content: "A Smith - Neighbour";
    }
    100% {
        content: "A Smith - Neighbour";
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    10% {opacity: 1;}
    49% {opacity: 0;}
    74% {opacity: 1;}
    100% {opacity:0;}
}
